section(id="sectionInputCheckbox" class="mt_50 df_a")
  input(id="rememberUser" class="check_st" type="checkbox" name="rememberUser" value="true")
  label(class="check_new")
  label(for="rememberUser")
    h6 Remember me
