
//- context menu
section(id="contextmenu" class="")
  ul
    li(id="contextmenuNewFolder" class="df_a")
      span(class="menu__icons df_ja")
        include ../assets/icons/folder.svg
      div(class="") New folder
    
    li(id="contextmenuUploadFile" class="df_a")
      span(class="menu__icons df_ja")
        include ../assets/icons/download.svg
      div(class="") Upload file
      
    li(id="contextmenuRenameFile" class="df_a")
      span(class="menu__icons df_ja")
        include ../assets/icons/rename.svg
      div(class="") Rename
    
    li(id="contextmenuDownloadFile" class="df_a")
      span(class="menu__icons df_ja")
        include ../assets/icons/download.svg
      div(class="") Download file
      
    li(id="contextmenuShareFile" class="df_a") 
      span(class="menu__icons df_ja")
        include ../assets/icons/share_v2.svg
      div(class="") Share
      
    li(id="contextmenuCopyFile" class="df_a")
      span(class="menu__icons df_ja")
        include ../assets/icons/copy.svg
      div(class="") Copy
      
    li(id="contextmenuDeleteFile" class="df_a")
      span(class="menu__icons df_ja")
        include ../assets/icons/bincan.svg
      div(class="") Delete
