section(class="container theme__dark")
  header
    nav(class="header__left")
      a(href="/" class="btn__header") 
        h1 Home
      if role
        a(href="/admin-page" class="btn__header") 
          h1 Admin Page
    
    nav(class="header__right df_ja")
      if userName
        a(href="#" class="dropDown__btn") #{userName}
      else
        a(href="/login" class="dropDown__btn") Login
      ul(class="dropDown__menu df_ja")
        if userName
          li
            a(href="/settings" class="df_ja") 
              h5 Settings
          li
            form(class="" action="/unlogin" method="post")
              input(class="user__name__content" id="logout" type="submit" name="logout" value="logout")

        else
          li
            a(href="/registration" class="df_ja")
              h5 registration

            



                  //- ul(class="user__name__menu")
                  //-   //- a(href="#" class="user__name" id="UserName") #{userName}
                  //-   li
                  //-   //- a(href="/settings" class="df_ja") Settings
                  //-   li
                  //-   //- form(class="" action="/unlogin" method="post")
                  //-   //-   input(class="user__name__content" id="logout" type="submit" name="logout" value="logout")
