<section class="section__email df_ja">
  <section class="df_ja err" id="validMail">
    <span class="df_ja"> <p> ! </p> </span>
    <span class="text__error"> <p>Error: character "</p><div id="symbolErrorMail"></div><p>" is invalid   </p> </span>
  </section>


  <section id="sectionInputMail" class="input mt_20">
    <input id="inputMail" name="email" type="email" required autocomplete="off" value="" pattern="{{patternEmail}}" minlength="4" maxlength="32"/>
    <label class="label__input" for="name" >
      <span> email </span>
    </label>
  </section>
</section>
