<section class="section__password df_ja">
  <section class="df_ja err" id="validPass">
    <span class="df_ja"> <p> ! </p> </span>
    <span class="text__error"> <p>Error: character "</p><div id="symbolErrorPass"></div><p>" is invalid   </p> </span>
  </section>
  <section id="sectionInputPassword" class="input mt_50">
    <input id="inputPassword" name="password" type="password" required autocomplete="off" value="" pattern="{{patternPassword}}" minlength="8" maxlength="128"/>
    <label class="label__input" for="name" >
      <span> password </span>
    </label>
  </section>
  {{> icon__eye}}
</section>
