<section class="section__name df_ja">
  <section class="df_ja err" id="validName">
    <span class="df_ja"> <p> ! </p> </span>
    <span class="text__error"> <p>Error: character "</p><div id="symbolErrorName"></div><p>" is invalid   </p> </span>
  </section>


  <section id="sectionInputName" class="input mt_20">
    <input id="inputName" name="userName" type="text" required autocomplete="off" value="" pattern="{{patternName}}" minlength="2" maxlength="16"/>
    <label class="label__input" for="name" >
      <span> Name </span>
    </label>
  </section>
</section>
