{{!-- <section class=""> --}}
  <section class="container theme__dark df">
    <header class="">
      <nav class="header__left">
        <a href="/" class="btn__header">Home</a>
        <a href="/get-cookie" class="btn__header">Get cookie</a>
      </nav>
      <nav class="header__right">
        <ul>
          <li>  {{!-- li element #1 --}}
            <svg class="icon__basket" x="0px" y="0px" viewBox="0 0 512 512">
              <g>
                <path d="M404.5,373H203.74c-12.9,0-24.17-8.72-27.4-21.22l-48.96-189.25l-15.08-60.32c-0.33-1.3-1.49-2.21-2.84-2.21H55.5
                C48.6,100,43,94.4,43,87.5S48.6,75,55.5,75h53.96c12.84,0,23.98,8.7,27.09,21.15l15.07,60.26l48.92,189.11
                c0.38,1.46,1.69,2.48,3.2,2.48H404.5c6.9,0,12.5,5.6,12.5,12.5S411.4,373,404.5,373z"/>
              </g>
              <g>
                <path d="M407.91,307H174.5c-6.9,0-12.5-5.6-12.5-12.5s5.6-12.5,12.5-12.5h230.33l33.51-129H134.75c-6.9,0-12.5-5.6-12.5-12.5
                s5.6-12.5,12.5-12.5h312.18c5.72,0,11.02,2.6,14.52,7.13s4.69,10.3,3.25,15.84l-36.44,140.3C425.85,300.53,417.48,307,407.91,307z"
                />
              </g>
              <g>
                <path d="M351.28,307c-0.62,0-1.25-0.05-1.88-0.14c-6.83-1.03-11.53-7.4-10.5-14.23l23.24-154c1.03-6.83,7.4-11.52,14.23-10.49
                c6.83,1.03,11.53,7.4,10.5,14.23l-23.24,154C362.69,302.56,357.36,307,351.28,307z"/>
              </g>
              <g>
                <path d="M294.63,307c-6.9,0-12.5-5.6-12.5-12.5v-154c0-6.9,5.6-12.5,12.5-12.5s12.5,5.6,12.5,12.5v154
                C307.13,301.4,301.53,307,294.63,307z"/>
              </g>
              <g>
                <path d="M233.85,307c-6.26,0-11.67-4.7-12.4-11.07l-17.74-154c-0.79-6.86,4.13-13.06,10.99-13.85c6.86-0.79,13.06,4.13,13.85,10.99
                l17.74,154c0.79,6.86-4.13,13.06-10.99,13.85C234.81,306.97,234.33,307,233.85,307z"/>
              </g>
              <g>
                <path d="M434.5,230h-280c-6.9,0-12.5-5.6-12.5-12.5s5.6-12.5,12.5-12.5h280c6.9,0,12.5,5.6,12.5,12.5S441.4,230,434.5,230z"/>
              </g>
              <circle cx="223.5" cy="412.5" r="20.5"/>
              <circle cx="366.5" cy="412.5" r="20.5"/>
            </svg>
          </li> {{!-- li element #1 --}}
          <li class="li_user__name">  {{!-- li element #2 --}}
            {{#if cookieName}}
            <ul class="user__name__menu theme__dark">
              <a href="#" class="user__name" id="UserName">
                {{cookieName}}
              </a>
              <li>
                <a href="#" class="user__name__content">
                  setting 1
                </a>
              </li>
              <li onclick="changeOfSubject()">
                <a class="check__box__a">
                  <div class="check__box" id="checkBoxTheme">
                    <span></span>
                  </div>
                  <h4>Theme</h4>
                </a>
              </li>
              <li>
                <a href="#" class="user__name__content" id="exitUserName" onclick="unlogin()">
                  exit
                </a>
              </li>
            </ul>
            {{else}}
            <ul class="user__name__menu theme__dark">
              <a href="/login" class="btn__header">
                Login
              </a>
              <li onclick="changeOfSubject()">
                <a class="check__box__a">
                  <div class="check__box" id="checkBoxTheme">
                    <span></span>
                  </div>
                  <h4>Theme</h4>
                </a>
              </li>
            </ul>
            {{/if}}
          </li> {{!-- li element #2 --}}
        </ul>
      </nav>  {{!-- header__right --}}
    </header>
  </section>  {{!-- container --}}

{{!-- </section> --}}
