{{!-- <section class=""> --}}
  <section class="container theme__dark">
    <header class="">
      <nav class="header__left">
        <a href="/" class="btn__header">Home</a>
        {{#if role}}
        <a href="/admin-page" class="btn__header">Admin Page</a>
        {{/if}}
      </nav>
      <nav class="header__right">
        <ul>
          <li>  {{!-- li element #1 --}}
            {{!-- {{>icon__basket}} --}}
          </li> {{!-- li element #1 --}}
          <li class="li_user__name">  {{!-- li element #2 --}}
            {{#if userName}}
            <ul class="user__name__menu theme__dark">
              <a href="#" class="user__name" id="UserName">
                {{userName}}
              </a>
              <li>
                <a href="#" class="df_ja">
                  setting 1
                </a>
              </li>
              <li onclick="changeOfSubject()">
                <a class="df_ja">
                  <div class="check__box" id="checkBoxTheme">
                    <span></span>
                  </div>
                  <h6>Theme</h6>
                </a>
              </li>
              <li>
                <form class="" action="/unlogin" method="post">
                  {{!-- <button href="#" formmethod="post" formaction="/" name="logout1" value="logout2" class="user__name__content" id="exitUserName" onclick="unlogin()">
                    exit
                  </button> --}}
                  <input class="user__name__content" id="exitUserName" type="submit" name="logout" value="logout">
                </form>
              </li>
            </ul>
            {{else}}
            <ul class="user__name__menu theme__dark">
              <a href="/login" class="btn__header">
                Login
              </a>
              <li>
                <a href="/registration" class="df_ja"> <h6> registration </h6> </a>
              </li>
              <li onclick="changeOfSubject()">
                <a class="df_ja">
                  <div class="check__box" id="checkBoxTheme"> <span></span> </div>
                  <h6>Theme</h6>
                </a>
              </li>
            </ul>
            {{/if}}
          </li> {{!-- li element #2 --}}
        </ul>
      </nav>  {{!-- header__right --}}
    </header>
  </section>  {{!-- container --}}

{{!-- </section> --}}
