<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>error</title>
    <link rel="stylesheet" href="/views/assets/style/main.css">
  </head>
  <body class="theme__dark df_ja df_coll">
    {{{body}}}
  </body>
</html>
