<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/views/assets/style/main.css">
    <title>Localhost</title>
  </head>
  <body class="theme__dark">
    {{#if home}}
    <div id="dropzone" class="">
      <section class="drop df_ja">

      </section>
    </div>
    {{/if}}
    {{> navigation}}


    {{{body}}}

    <script type="text/javascript" src="../views/assets/js/theme.js"> </script>
  </body>
</html>
