doctype html
html(data-theme="dark+purple")
  head
    title Error
    link(rel="stylesheet" href="/views/assets/style/main.css")
  body(class="df_ja df_coll")
    img(src="../views/assets/img/404.svg" alt="Hitori" width="300px")
    h1 Error: #{codeError}
    p #{textError}
    a(href="/" class="mt_20") Home
