<section class="block__1">
  <section class="container">

    <div class="">
    <h1>Ваш куки:</h1>
      {{#if cookieName}}
      <ul>
        <li>
          {{cookieName}}
        </li>
      </ul>


      {{else}}
      <div class="">
        Куки не найден
      </div>
      {{/if}}
    </div>
  </section> {{!-- container --}}
</section>  {{!-- block__1 --}}
