<section class="block">
  <section class="container">

    <section>
      <div class="">
        <h1>Ваш куки:</h1>
        {{#if cookieName}}
        <ul>
          <li>
            {{cookieName}}
          </li>
        </ul>


        {{else}}
        <div class="">
          Куки не найден
        </div>
        {{/if}}
      </div>



      <div class="users__db">
      {{#if users.length}}
      <ul>
        <p>Пользователи из БД:</p>
        {{#each users}}
        <li>
          <span>{{name}}</span>
        </li>
        {{/each}}
      </ul>
      {{else}}
      <p>
        пользователей нет в БД
      </p>
      {{/if}}

    </div>

    </section>
  </section> {{!-- container --}}
</section>  {{!-- block__1 --}}
