extends layout/layout.pug

block header__content
  link(rel="stylesheet" href="/views/assets/style/home.css")

block content

  section(class="block")
    section(class="container")
      h1 Homer page

  section(class="block" id="blockFiles")
    section(class="container")
      section(class="files")
        //- если есть фалы
        //- if presenceOfFiles
        //- отображение шапки
        ul(id="files" class="header__files mt_30")
          div(class="df pasteFiles")
            h4 Files
            p sorting:
              span(id="sortName" class="active__up") name
              span(id="sortSize" class="") size
        
        // отображение кнопки назад (если находимся в папке)
        if locationInFolder
          section(class="mt_10 mb_10")
            a(id="backFolder" class="") #{path}
              
              
        if presenceOfFiles        
          //- рендер папок
          each val in userFiles
            if val.isFolder
              li(class="view__files")
                span(class="file__name")= val.name
                a(href="?path=" + path + val.name class="folder__link" data-nameFile= val.name data-type="folder" )
                ul(class="file__control df_ja")
                  if locationInFolder == false
                    //- button 'download'
                    li(href= 'download' + '?folder=' + val.name class="df_ja") 
                      include assets/icons/download.svg
                    //- button 'share'
                    li(class="df_ja shareButton") 
                      include assets/icons/share_v2.svg
                      span(class="link__copied") Link copied
                    input(class="share__link" value='download' + '?folder='+ val.name + '&id=' + userID READONLY)
                    //- button 'delete'
                    li(href= 'delete-file' + '?folder=' + val.name class="df_ja ") 
                      include assets/icons/bincan.svg
          //- рендер файлов
          each val in userFiles
            if val.isFolder == false
              li(class="view__files" data-nameFile= val.name data-type="file")
                span(class="file__name")= val.name
                span(class="file__size")= val.size
                ul(class="file__control df_ja")
                  if locationInFolder == false
                    //- button 'download'
                    li(href= 'download' + '?file=' + val.name class="df_ja") 
                      include assets/icons/download.svg
                    //- button 'share'
                    li(class="df_ja shareButton") 
                      include assets/icons/share_v2.svg
                      span(class="link__copied") Link copied
                    input(class="share__link" value='download' + '?file='+ val.name + '&id=' + userID READONLY)
                    //- button 'delete'
                    li(href= 'delete-file' + '?file=' + val.name class="df_ja ") 
                      include assets/icons/bincan.svg
                      
                      
                  //- if locationInFolder == true
                  else
                    //- button 'download'
                    li(href= 'download' + '?file=' + val.name + '&path=' + path class="df_ja") 
                      include assets/icons/download.svg
                      
                    //- button 'share'
                    li(class="df_ja shareButton") 
                      include assets/icons/share_v2.svg
                      span(class="link__copied") Link copied
                    input(class="share__link" value='download' + '?file='+ val.name + '&id=' + userID + '&path=' + path  READONLY)
                    
                    //- include assets/icons/share.svg
                    //- button 'delete'
                    li(href= 'delete-file' + '?file=' + val.name + '&path=' + path  class="df_ja ") 
                      include assets/icons/bincan.svg
                      
                      
          //- END each
        //-  если нет файлов
        else 
          p(class="df_ja mt_20") you don't have any files uploaded
          
        //- кнопка с загрузкой
        section(class="df_ja mt_20" id="menuChoose")
          div(class="btn df_ja" id="btnUpload") choose file 
            include assets/icons/download.svg
          p(class="ml_10") or drag file 
  
  section(class="block" id="formDrag")
    section(class="container")
      // если находимся в подпапке
      if locationInFolder
        form(id="formFiles" class="" action="/upload?path=" + path method="post" enctype="multipart/form-data")
          input(id="input_files" type="file" name="uploadFiles" value="" multiple)
          input(type="submit" value="submit" id="buttonForm")
      else 
        form(id="formFiles" class="" action="/upload" + path method="post" enctype="multipart/form-data")
          input(id="input_files" type="file" name="uploadFiles" value="" multiple)
          input(type="submit" value="submit" id="buttonForm")
          
  include includes/context__menu.pug
  include includes/FIW.pug
      
      
  p(id='pageLogs') 

      
  
  script(type="text/javascript" src="../views/assets/js/home/contextmenu/handlerMouse.js")
  script(type="text/javascript" src="../views/assets/js/home/contextmenu/contextmenu.js")
  script(type="text/javascript" src="../views/assets/js/home/contextmenu/handlerButton.js")
  
  script(type="text/javascript" src="../views/assets/js/home/FIW/handlerFolder.js")
  script(type="text/javascript" src="../views/assets/js/home/FIW/requestFIW.js")
  script(type="text/javascript" src="../views/assets/js/home/FIW/handlerFIW.js")
  script(type="text/javascript" src="../views/assets/js/home/requestDataUser.js")
  
  script(type="text/javascript" src="../views/assets/js/home/animation.js")
  script(type="text/javascript" src="../views/assets/js/home/backFolder.js")
  //* script(type="text/javascript" src="../views/assets/js/home/share.js")
  script(type="text/javascript" src="../views/assets/js/home/sort.js")
  script(type="text/javascript" src="../views/assets/js/home/drag.js")
