<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{!-- <link rel="stylesheet" href="/views/assets/style.css"> --}}
    <title>Home page</title>
  </head>
  <body>
    <section class="block__1">
      <section class="container">
        <h1>Home page</h1>

      </section>
    </section>

  </body>
</html>
