extends layout/layout.pug

block content

  section(class="block")
    section(class="container")
      h1 Homer page

  section(class="block")
    section(class="container")
      section(class="files")
        //- если есть фалы
        if presenceOfFiles
          //- отображение шапки
          ul(id="files" class="header__files mt_30")
            div(class="df pasteFiles")
              h4 Files
              p sort
                span(id="sortName" class="active__up") name
                span(id="sortSize" class="") size
          // рендер папок
          each val in userFiles
            if val.isFolder
              li(class="view__files")
                span(class="file__name")= val.name
                a(href="?folder=" + val.name)
          // рендер файлов
          each val in userFiles
            if val.isFolder == false
              li(class="view__files")
                span(class="file__name")= val.name
                span(class="file__size")= val.size
                div(class="file__control df_ja")
                  a(href= 'download' + '?file=' + val.name class="df_ja") 
                    include assets/icons/download.svg
                  a(class="df_ja shareButton") 
                    include assets/icons/share_v2.svg
                    span(class="link__copied") Link copied
                  input(class="share__link" value='download' + '?file='+ val.name + '?id=' + userID READONLY)
                    //- include assets/icons/share.svg
                  a(href= 'delete-file' + '?file=' + val.name class="df_ja ") 
                    include assets/icons/bincan.svg
          //- END each
        //-  если нет файлов
        else 
          p you don't have any files uploaded
          
        //- кнопка с загрузкой
        section(class="df_ja mt_20")
          div(class="btn" id="btnUpload") choose file 
            //- input(id="input_files" class="input__files" form="formFiles" type="file" name="uploadFiles" value="choose file" multiple)
          p(class="ml_10") or drag file 
          //- input(type="submit" form="formFiles" value="submit" id="buttonForm")
  
  section(class="block" id="formDrag")
    section(class="container")
      form(id="formFiles" class="" action="/upload" method="post" enctype="multipart/form-data")
        input(id="input_files" type="file" name="uploadFiles" value="" multiple)
        input(type="submit" value="submit" id="buttonForm")
          
  script(type="text/javascript" src="../views/assets/js/drag.js")
  script(type="text/javascript" src="../views/assets/js/share.js")
  script(type="text/javascript" src="../views/assets/js/animation.js")
  script(type="text/javascript" src="../views/assets/js/sort.js")
