extends layout/layout.pug

block content

  section(class="block")
    section(class="container")
      h1 Homer page

  section(class="block" id="blockFiles")
    section(class="container")
      section(class="files")
        //- если есть фалы
        if presenceOfFiles
          //- отображение шапки
          ul(id="files" class="header__files mt_30")
            div(class="df pasteFiles")
              h4 Files
              p sorting:
                span(id="sortName" class="active__up") name
                span(id="sortSize" class="") size
          // рендер папок
          each val in userFiles
            if val.isFolder
              li(class="view__files")
                span(class="file__name")= val.name
                a(href="?folder=" + val.name class="folder__link")
          // рендер файлов
          each val in userFiles
            if val.isFolder == false
              li(class="view__files")
                span(class="file__name")= val.name
                span(class="file__size")= val.size
                div(class="file__control df_ja")
                  if locationInFolder == false
                    //- button 'download'
                    a(href= 'download' + '?file=' + val.name class="df_ja") 
                      include assets/icons/download.svg
                    //- button 'share'
                    a(class="df_ja shareButton") 
                      include assets/icons/share_v2.svg
                      span(class="link__copied") Link copied
                    input(class="share__link" value='download' + '?file='+ val.name + '&id=' + userID READONLY)
                    //- button 'delete'
                    a(href= 'delete-file' + '?file=' + val.name class="df_ja ") 
                      include assets/icons/bincan.svg

                  else
                    //- button 'download'
                    a(href= 'download' + '?file=' + val.name + '&folder=' + folder class="df_ja") 
                      include assets/icons/download.svg
                      
                    //- button 'share'
                    a(class="df_ja shareButton") 
                      include assets/icons/share_v2.svg
                      span(class="link__copied") Link copied
                    input(class="share__link" value='download' + '?file='+ val.name + '&id=' + userID + '&folder=' + folder  READONLY)
                    
                    //- include assets/icons/share.svg
                    //- button 'delete'
                    a(href= 'delete-file' + '?file=' + val.name + '&folder=' + folder  class="df_ja ") 
                      include assets/icons/bincan.svg
                      
                      
          //- END each
        //-  если нет файлов
        else 
          p you don't have any files uploaded
          
        //- кнопка с загрузкой
        section(class="df_ja mt_20")
          div(class="btn df_ja" id="btnUpload") choose file 
            include assets/icons/download.svg
            //- input(id="input_files" class="input__files" form="formFiles" type="file" name="uploadFiles" value="choose file" multiple)
          p(class="ml_10") or drag file 
          //- input(type="submit" form="formFiles" value="submit" id="buttonForm")
  
  section(class="block" id="formDrag")
    section(class="container")
      form(id="formFiles" class="" action="/upload" method="post" enctype="multipart/form-data")
        input(id="input_files" type="file" name="uploadFiles" value="" multiple)
        input(type="submit" value="submit" id="buttonForm")
          
  //- context menu
  section(id="contextmenu" class="")
    ul
      li(id="contextmenuNewFolder" class="df_a")
        span(class="menu__icons df_ja")
          include assets/icons/folder.svg
        div(class="") New folder
      
      li(id="contextmenuUploadFile" class="df_a")
        span(class="menu__icons df_ja")
          include assets/icons/download.svg
        div(class="") Upload file
        
      li(id="contextmenuRenameFile" class="df_a")
        span(class="menu__icons df_ja")
          include assets/icons/rename.svg
        div(class="") Rename
      
      li(id="contextmenuDownloadFile" class="df_a")
        span(class="menu__icons df_ja")
          include assets/icons/download.svg
        div(class="") Download file
        
      li(id="contextmenuShareFile" class="df_a") 
        span(class="menu__icons df_ja")
          include assets/icons/share_v2.svg
        div(class="") Share
        
      li(id="contextmenuCopyFile" class="df_a")
        span(class="menu__icons df_ja")
          include assets/icons/copy.svg
        div(class="") Copy
        
      li(id="contextmenuDeleteFile" class="df_a")
        span(class="menu__icons df_ja")
          include assets/icons/bincan.svg
        div(class="") Delete
      
      
  form(id="fileInteractionWindow" class="active" action="/" method="post" data-item='FMF')
    section(class="df_a just_bet FMF__header" data-item='FMF')
      h4(id="FMFTitle") title
      span(id="cancel")
    section(class="FMF__content df_ja mt_20" data-item='FMF')
      input(id="nameOperation"  name="operation" type="hidden" value="")
      input(id="newNameFile"  name="newName" type="text" value="name file")
      input(id="oldNameFile"  name="oldName" type="hidden" value="")
    section(class="FMF__btn mt_20" data-item='FMF')
      a(id="cancel" class="btn" ) Cancel
      input(id="" class="btn" type="submit"  value="Save")
          
          
          
  script(type="text/javascript" src="../views/assets/js/drag.js")
  script(type="text/javascript" src="../views/assets/js/share.js")
  script(type="text/javascript" src="../views/assets/js/sort.js")
  
  script(type="text/javascript" src="../views/assets/js/contextmenu.js")
  script(type="text/javascript" src="../views/assets/js/animation.js")
