<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{!-- <link rel="stylesheet" href="/views/assets/style.css"> --}}
    <title>Home page</title>
  </head>
  <body>
    <section class="block">
      <section class="container">
        <h1>Home page</h1>
      </section>
    </section>
    <section class="block">
      <section class="container">
        <div id="dropzone" class=""> </div>
          <ul id="file_list"></ul>
          <button id="submitBtn" class="hidden">Отправить</button>
      </section>
    </section>

    <script type="text/javascript" src="../views/assets/js/drag.js"> </script>
  </body>
</html>
