<head>
  <link rel="stylesheet" href="/views/assets/style/login.css">
</head>
<section class="block">

  <section class="container">
    <section class="">
      {{#if errors}} {{!-- errors --}}
      <section class="df_ja err">
        <span class="df_ja"> <p> ! </p> </span>
        <p>Error: user not found </p>
        <p>{{textError}}</p>
      </section>
      {{/if}} {{!-- errors --}}
      {{#if userName}}  {{!-- userName --}}
      {{> check}}
      {{else}}  {{!-- else userName --}}

      <h3>Login</h3>
      <form class="form_names df_ja df_coll" action="/login" method="post">
        {{>input__login}}
        {{>input__password}}

        <section id="sectionInputCheckbox" class="mt_50 df_a">
          <input class="check_st" type="checkbox" id="rememberUser " name="rememberUser" value="true">
          <label class="check_new"></label>
          <label for="rememberUser"><h6> Remember me</h6></label>
        </section>


        <section class="container__form__submit mt_50">
          <input id="submit" class="form__submit" type="submit" value="Login" disabled/>
        </section>
      </form>


    </section>

    {{#if errors}}  {{!-- errors --}}
    <section class="register df_ja">
      not <a href="/registration"> registered?</a>
    </section>
    {{/if}} {{!-- errors --}}
    <script type="text/javascript" src="../views/assets/js/passVisible.js"> </script>
    <script type="text/javascript" src="../views/assets/js/valid.js"> </script>
    {{/if}} {{!-- userName --}}




  </section>  {{!-- container --}}
</section>  {{!-- block --}}
