extends layout/layout__login.pug


block content
  section(class="block")
    section(class="container")
      section
        if userName
          section(class="df_ja df_coll")
            h3 You are already logged in
            a(href="/") Home
        else
        //- error
          if errors == 'userundefined'
            section(class="df_ja err")
              span(class="df_ja")
                p !
              p Error: user not found
              
              
          //- END errors
          
        // check session
        include mixins/error.pug
        if session == 'expired'
          +err( 'session ' + session )
        if session == 'undefined'
          +err( 'session ' + session )
        if errors == 'userUndefined'
          +err( 'Error: User is not found' )
        if errors == 'incorrectPassword'
          +err( 'Error: incorrect password' )
            
            
        h3 Login
                    
          //- form
          form(id="formLogin" class="df_ja df_coll" action="/login" method="post")
          
            include includes/input__name.pug
            include includes/input__pass.pug
            include includes/check__remem.pug
            
            section(class="container__form__submit mt_50")
              input(id="submit" class="form__submit submitName submitPass" type="submit" value="Login" disabled)
          //- END form



  script(type="text/javascript" src="../views/assets/js/handlerValid.js")
  
  script(type="text/javascript" src="../views/assets/js/validationName.js")
  script(type="text/javascript" src="../views/assets/js/validationPass.js")
  //- script(type="text/javascript" src="../views/assets/js/validationEmail.js")
  
  script(type="text/javascript" src="../views/assets/js/handlerLogin.js")
  script(type="text/javascript" src="../views/assets/js/visibilityPass.js")
  script(type="text/javascript" src="../views/assets/js/theme.js")
