<section class="block">

  <section class="container">
    <section class="">
      {{#if errors}} {{!-- errors --}}
      <section class="df_ja err">
        <span class="df_ja"> <p> ! </p> </span>
        <p>Error: user not found </p>
      </section>
      {{/if}} {{!-- errors --}}
      {{#if cookieName}}  {{!-- cookieName --}}
      {{> check}}
      {{else}}  {{!-- else cookieName --}}
      <h3>Login</h3>
      <form class="form_names" method="post">
        <section class="input">
          <input id="inputName" name="userName" type="text" required autocomplete="off" value="" />
          <label class="label__input" for="name" >
            <span>
              Name
            </span>
          </label>
        </section>
        <section class="container__form__submit">
          <input class="form__submit" type="submit" value="login"/>
        </section>
      </form>
    </section>

    {{#if errors}}  {{!-- errors --}}
    <section class="register df_ja">
      not <a href="/registration"> registered?</a>
    </section>
    {{/if}} {{!-- errors --}}
    {{/if}} {{!-- cookieName --}}




  </section>  {{!-- container --}}
</section>  {{!-- block --}}
