<section class="block">

  <section class="container">
    <section class="df">
      {{#if cookieName}}
      <section>
        <h1>Вы уже залогинились</h1>
      </section>
      {{else}}
      <form class="form_names" method="post">
        <section class="input">
          <input name="userName" type="text" required autocomplete="off" value="" />
          <label class="label__input" for="name" >
            <span>
              Name
            </span>
          </label>
        </section>
        <section class="container__form__submit">
          <input class="form__submit" type="submit" value="login"/>
        </section>
      </form>
    </section>

    <section class="df register">
      not <a href="/registration"> registered?</a>
    </section>
    {{/if}}

  </section>
</section>
