<section class="block">
  <section class="container">
    <section class="">
      {{#if cookieName}}
      {{> check}}
      {{else}}
      {{#if errors}}
      <section class="df_ja err">
        <span class="df_ja"> <p> ! </p> </span>
        <p>Error: user already registered </p>
      </section>
      {{/if}} {{!-- error --}}


      {{!-- registration --}}
      {{!-- <section class="df_ja err" id="validName">
        <span class="df_ja"> <p> ! </p> </span>
        <p>Error: character "<div id="symbolErrorName"></div>" is invalid   </p>
      </section> --}}
      {{!-- <section class="df_ja err" id="validPass">
        <span class="df_ja"> <p> ! </p> </span>
        <p>Error: character "<div id="symbolErrorPass"></div>" is invalid   </p>
      </section> --}}
      <h3>Registration</h3>
      <form class="form_names df_ja df_coll" action="/registration" method="post">
        <form class="form_names" method="post">
          <section class="section__name df_ja">
            <section class="df_ja err" id="validName">
              <span class="df_ja"> <p> ! </p> </span>
              <span class="text__error"> <p>Error: character "</p><div id="symbolErrorName"></div><p>" is invalid   </p> </span>
            </section>
            <section id="sectionInputName" class="input mt_20">
              <input id="inputName" name="userName" type="text" required autocomplete="off" value="" pattern="{{patternName}}" minlength="2" maxlength="16"/>
              <label class="label__input" for="name" >
                <span> Name </span>
              </label>
            </section>
          </section>

          <section class="section__password df_ja">
            <section class="df_ja err" id="validPass">
              <span class="df_ja"> <p> ! </p> </span>
              <span class="text__error"> <p>Error: character "</p><div id="symbolErrorPass"></div><p>" is invalid   </p> </span>
            </section>
            <section id="sectionInputPassword" class="input mt_50">
              <input id="inputPassword" name="password" type="password" required autocomplete="off" value="" pattern="{{patternPassword}}" minlength="8" maxlength="128"/>
              <label class="label__input" for="name" >
                <span> password </span>
              </label>
            </section>
            {{> icon__eye}}
          </section>
          <section id="sectionInputCheckbox" class="mt_30 df_a">
              <input class="check_st" type="checkbox" id="rememberUser " name="rememberUser" value="coding">
              <label class="check_new"></label>
              <label for="rememberUser"><h6> Remember me</h6></label>
          </section>
          <section class="container__form__submit mt_50">
            <input id="submit" class="form__submit" type="submit" value="registering" disabled/>
          </section>
        </form>
      </form>
      {{/if}}

    </section>
  </section>
</section>
<script type="text/javascript" src="../views/assets/js/valid.js"> </script>
<script type="text/javascript" src="../views/assets/js/passVisible.js"> </script>
