<section class="block">
  <section class="container">
    <section class="df">
      <h1>Registration</h1>
      <form class="" action="/registration" method="post">
        <form class="form_names" method="post">
          <section class="input">
            <input name="userName" type="text" required autocomplete="off" value="" />
            <label class="label__input" for="name" >
              <span> Name </span>
            </label>
          </section>
          <section class="container__form__submit">
            <input class="form__submit" type="submit" value="registering"/>
          </section>
        </form>
      </form>
    </section>
  </section>
</section>
