<section class="block">
  <section class="container">
    <section class="">
      {{#if cookieName}}
      {{> check}}
      {{else}}
      {{#if errors}}
      <section class="df_ja err">
        <span class="df_ja"> <p> ! </p> </span>
        <p>Error: user already registered </p>
      </section>
      {{/if}}
      <section class="df_ja err" id="validName">
        <span class="df_ja"> <p> ! </p> </span>
        <p>Error: character "<div id="symbolError"></div>" is invalid   </p>
      </section>
      <h3>Registration</h3>
      <form class="form_names" action="/registration" method="post">
        <form class="form_names" method="post">
          <section class="input">
            <input id="inputName" name="userName" type="text" required autocomplete="off" value="" pattern="{{patternName}}" minlength="2" maxlength="16" autofocus/>
            <label class="label__input" for="name" >
              <span> Name </span>
            </label>
          </section>
          <section class="container__form__submit">
            <input id="submit" class="form__submit" type="submit" value="registering"/>
          </section>
        </form>
      </form>
      {{/if}}

    </section>
  </section>
</section>
<script type="text/javascript" src="../views/assets/js/valid.js"> </script>
