extends layout/layout.pug


block header__content
  link(rel="stylesheet" href="/views/assets/style/settings.css")

block content
  
  section(class="block")
    section(class="container")
      h1 Settings
      
      
  section(class="block mb_130")
    section(class="container")
      ul(class="settings__list")
        h3(class="mt_50") Theme
        li(class="view__settings mt_10") site main theme 
          div(class="df_ja checkbox__theme" id="checkBoxThemeZoneClicked")
            p dark
            a(class="df_ja")
              div(class="check__box" id="checkBoxTheme")
                span
            p light
        //- 
        //- h4(class="mt_50") Shade
        li(class="view__settings mt_10") shade color
          div(class="df_ja shade__color__block")
            a(href="#" class="shade__zone")
              span(class="df_ja shade__color" id="shade1")
            a(href="#" class="shade__zone")
              span(class="df_ja shade__color" id="shade2")
        
        h3(class="mt_50") Profile
        li(class="view__settings mt_10" id="settingPass")
          div(class="df_ja")
            p(href="#") change password
            if error == 0
              p(class="success__pass") succes
            else if error == 1
              p(class="err__pass") invalid old password
            else if error == 2
              p(class="err__pass") invalid new password
              
          span(id="triangle")
        section(id="passForm")
          form(id="formPassword" action="/settings" method="post") #{unlock}
            include includes/inputs__chanche__pass.pug
            input(id="submit" class="form__submit" type="submit" value="change password" disabled)
          
        li(class="view__settings mt_10")
          div(class="df_ja")
            a(href="#") delete account


  script(type="text/javascript" src="../views/assets/js/settings.js")
  script(type="text/javascript" src="../views/assets/js/passVisibleSettings.js")
  script(type="text/javascript" src="../views/assets/js/validSettingsPass.js")
