.df
  display: flex

.df_j
  display: flex
  justify-content: center

.df_a
  display: flex
  align-items: center

.df_ja
  display: flex
  align-items: center
  justify-content: center

.df_coll
  flex-direction: column



// ========
h1
  font-size: $fontSize + $fontSize
h2
  font-size: $fontSize + calc($fontSize/3)
h3
  font-size: $fontSize + calc($fontSize/4)
h4
  font-size: $fontSize + calc($fontSize/5)
h5
  font-size: $fontSize + calc($fontSize/6)
