@import "variable"

#checkBoxThemeZoneClicked
  user-select: none

.settings__list
  a,
  span,
  .checkbox__theme
    cursor: pointer !important

// Чек бокс
.check__box
  background: var(--background)
  width: 40px
  height: 20px
  border-radius: 15px
  display: flex
  justify-content: center
  align-items: center
  // cursor: pointer
  border: 1px solid var(--color2)
  margin: 0 20px
  span
    display: block
    background: var(--color2)
    border-radius: 50px
    width: 14px
    height: 14px
    position: relative
    transition: 0.3s
    left: -8px
    // cursor: pointer
.check__box.active
  background: var(--background)
  span
    left: 8px !important


.shade__color__block
  margin-right: 50px
  width: 70px
  justify-content: space-between
  a
    padding: 5px 10px
    .shade__color
      width: 20px
      height: 20px
      border: 1px solid var(--background_in_hover)
      border-radius: 1em
      position: relative
      &.active
        padding: 5px
        border: 2px solid #fffa
        &::after
          content: ""
          display: block
          position: absolute
          top: -15px
          border: 7px solid transparent
          border-top: 7px solid var(--color)

#shade1
  background: $color_purple

#shade2
  background: $color_blue




// password

#settingPass
  position: relative
  overflow: hidden
  cursor: pointer
  // transition: 0.5s
  #triangle
    border: 7px solid transparent
    border-top: 7px solid var(--color)
    position: relative
    bottom: -5px
    transition: 0.3s
    transform-origin: center 3px
    transform: rotateX(0deg)
  form
    position: absolute
    left: 50%
    top: 100px
    transform: translateX(-50%)
  &.active
    // padding-bottom: 500px
    #triangle
      transform: rotateX(180deg)


#passForm
  height: 0
  overflow: hidden
  transition: 0.5s
  pointer-events: none
  opacity: 0
  &.active
    pointer-events: all
    height: 500px
    opacity: 1

@import "settings/input"
@import "settings/errors"



.err__pass,
.success__pass
  margin-left: 20px
  border-radius: 0.5em
  font-size: 18px
  padding: 5px 10px
  font-weight: 400

.success__pass
  background: $green_Opacity
.err__pass
  background: $red
