$color_2: #a804ca
$color_Text_Opacity: #ddddddaa
$transition_Btn: 0.3s
$red: #cc0000
$green_Opacity: #1e571966
$fontSize: 34px

// dark
$color_BG_Dark: #222
$color_Text: #ddd
$background_in_hover: #dddddd22

// light
$color_BG_Light: #f4f4f4
$color_Text_Light: #222
$background_in_hover_Light: #ddddddaa
