header
  border-bottom: 2px solid var(--color2)
  display: flex
  justify-content: space-between
  // width: 90%
  // max-width: 1200px
  padding: 40px 20px 20px
  margin-bottom: 40px
  font-size: $fontSize

  .btn__header
    margin-right: 15px
    transition: $transition_Btn

.header__left
  display: flex

.header__right
  display: flex
  max-height: 40px
  ul
    display: flex
    li
      list-style-type: none


.li_user__name
  position: relative
  display: inline-block
  max-height: 50px

// Выпадающие меню пользователя
.user__name__menu
  display: inline-block !important
  position: relative !important
  text-align: center
  min-width: 140px
  max-width: 160px
  font-size: $fontSize
  li
    height: 40px
    position: relative
    display: none
    margin: 5px 0
    font-size: 20px
    border: 2px solid var(--color2)
    a
      width: 100%
      height: 100%
      cursor: pointer
  &:hover
    li
      display: flex
      justify-content: center
      align-items: center

#exitUserName
  color: #cc0000
  width: 100%
  height: 100%
  padding: 0
  background: #00000000
  border: 0
  font-size: 30px
  cursor: pointer
  &:hover
    background: #cc0000
    color: #fff

// Иконка корзины
.icon__basket
  width: $fontSize + 10px
  transform: translateY(-2.5px)
  margin-right: 15px
  cursor: pointer
  transition: $transition_Btn
  &:hover
    fill: var(--color2)
    stroke: var(--color2)
