doctype html
html(data-theme="dark+blue")
  head
    title Localhost
    link(rel="stylesheet" href="/views/assets/style/main.css")
    link(rel="stylesheet" href="/views/assets/style/login.css")
  body(class="theme__dark")
    include ../includes/navigation.pug
    block content
    

    script( type="text/javascript" src="../views/assets/js/passVisible.js")
    script( type="text/javascript" src="../views/assets/js/valid.js")
    script(type="text/javascript" src="../views/assets/js/theme.js")
