doctype html
html(data-theme="dark+purple")
  head
    title Localhost
    link(rel="stylesheet" href="/views/assets/style/main.css")
    link(rel="stylesheet" href="/views/assets/style/login.css")
    // fonts Montserrat
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
      
  body(class="theme__dark")
    include ../includes/navigation.pug
    block content
    

    //- script(type="text/javascript" src="../views/assets/js/handlerValid.js")
    //- 
    //- script(type="text/javascript" src="../views/assets/js/validationName.js")
    //- script(type="text/javascript" src="../views/assets/js/validationPass.js")
    //- //-script(type="text/javascript" src="../views/assets/js/validationEmail.js")
    //- 
    //- script(type="text/javascript" src="../views/assets/js/handlerRegistration.js")
    //- script(type="text/javascript" src="../views/assets/js/visibilityPass.js")
    //- script(type="text/javascript" src="../views/assets/js/theme.js")
