doctype html
html(data-theme="dark+purple")
  head
    title Localhost
    link(rel="stylesheet" href="/views/assets/style/main.css")
    link(rel="stylesheet" href="/views/assets/style/login.css")
  body(class="theme__dark")
    include ../includes/navigation.pug
    block content
    

    //- script(type="text/javascript" src="../views/assets/js/handlerValid.js")
    //- 
    //- script(type="text/javascript" src="../views/assets/js/validationName.js")
    //- script(type="text/javascript" src="../views/assets/js/validationPass.js")
    //- //-script(type="text/javascript" src="../views/assets/js/validationEmail.js")
    //- 
    //- script(type="text/javascript" src="../views/assets/js/handlerRegistration.js")
    //- script(type="text/javascript" src="../views/assets/js/visibilityPass.js")
    //- script(type="text/javascript" src="../views/assets/js/theme.js")
