html[data-theme="dark+blue"] {
  --background: #222222;
  --color: #ddd;
  --color2: #3694ff;
  --background_in_hover: #dddddd22;
}

html[data-theme="dark+purple"] {
  --background: #222222;
  --color: #ddd;
  --color2: #a804ca;
  --background_in_hover: #dddddd22;
}

html[data-theme="light+blue"] {
  --background: #f9f9f9;
  --color: #222;
  --color2: #0077ff;
  --background_in_hover: #8888;
}

html[data-theme="light+purple"] {
  --background: #f9f9f9;
  --color: #222;
  --color2: #a804ca;
  --background_in_hover: #8888;
}

#dropzone {
  width: 100%;
  height: 100vh;
  position: absolute;
  pointer-events: none;
}
#dropzone .drop {
  display: none;
  pointer-events: none;
}

#dropzone.hover {
  pointer-events: all;
  z-index: 999;
}
#dropzone.hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2424245e;
}
#dropzone.hover .drop {
  width: 100%;
  height: 100vh;
  display: flex;
  pointer-events: none;
}
#dropzone.hover .drop::before {
  content: "";
  border: 10px dashed #fff;
  width: 95%;
  height: 93%;
  text-align: center;
}
#dropzone.hover .drop::after {
  font-size: 55px;
  content: "Upload file";
  position: absolute;
}

#formDrag {
  opacity: 0;
  position: absolute;
  z-index: -10;
  pointer-events: none;
}

#contextmenu {
  border: 1px solid var(--color2);
  border-radius: 0.2em;
  max-width: 222px;
  width: 100%;
  position: absolute;
  transition: 0.1s;
  background: var(--background);
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 5px 20px var(--color2);
}
#contextmenu .menu__icons {
  margin-right: 10px;
}
#contextmenu .menu__icons svg {
  width: 35px;
}
#contextmenu .menu__icons svg:hover {
  stroke: var(--color);
}
#contextmenu #folderIconPlus {
  display: block;
}
#contextmenu ul li {
  height: 40px;
  list-style-type: none;
  width: 100%;
  padding: 5px 10px;
  text-align: left;
  cursor: pointer;
}
#contextmenu ul li:hover {
  background: var(--background_in_hover);
}
#contextmenu ul.outside #contextmenuRenameFile,
#contextmenu ul.outside #contextmenuDownloadFile,
#contextmenu ul.outside #contextmenuShareFile,
#contextmenu ul.outside #contextmenuCopyFile,
#contextmenu ul.outside #contextmenuDeleteFile {
  display: none;
}
#contextmenu ul.outside #contextmenuChooseFile {
  border: none;
}

#contextmenuDeleteFile {
  border-top: 1px solid var(--color2);
  color: #cc0000;
}
#contextmenuDeleteFile svg {
  stroke: #cc0000 !important;
}

#contextmenuUploadFile {
  border-bottom: 1px solid var(--color2);
}
#contextmenuUploadFile .download__icon .download__icon__arrow {
  transform-origin: center center;
  transform: rotateZ(180deg) translateY(50px);
}
#contextmenuUploadFile:hover .download__icon {
  stroke: var(--color);
}

#statusCopy {
  border-radius: 1em;
  pointer-events: none;
  width: 30px;
  height: 30px;
  position: relative;
}
#statusCopy.success {
  background: #1e5719aa;
}
#statusCopy.success::before {
  content: "";
  display: block;
  width: 8px;
  height: 16px;
  border-right: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
  transform: rotateZ(45deg) translateY(0);
}
#statusCopy.err {
  background: #cc0000;
}
#statusCopy.err::before, #statusCopy.err::after {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background: var(--color);
  position: absolute;
  top: 50%;
  left: 50%;
}
#statusCopy.err::after {
  transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}
#statusCopy.err::before {
  transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
}

@keyframes bincanLid {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  100% {
    transform: rotate(5deg) translateY(-20px);
  }
}
@keyframes bincanLidClose {
  0% {
    transform: rotate(5deg) translateY(-20px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
@keyframes renameCursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes renameCursorClose {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes copyMouseoverF1 {
  0% {
    transform: translateX(31px) translateY(-34px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes copyMouseoverF2 {
  0% {
    transform: translateX(-31px) translateY(34px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes copyMouseoutF1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(31px) translateY(-34px);
  }
}
@keyframes copyMouseoutF2 {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-31px) translateY(34px);
  }
}
@keyframes shareMouseoverCircle1 {
  0% {
    transform: translateX(-200px) translateY(140px);
    opacity: 0;
  }
  30% {
    transform: translateX(-200px) translateY(140px);
    opacity: 1;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes shareMouseoverCircle2 {
  0% {
    transform: translateX(120px);
  }
  30% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shareMouseoverCircle3 {
  0% {
    transform: translateX(-200px) translateY(-140px);
    opacity: 0;
  }
  30% {
    transform: translateX(-200px) translateY(-140px);
    opacity: 1;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes shareMouseoverLine {
  30% {
    stroke-dasharray: 300, 160;
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dasharray: 300, 160;
    stroke-dashoffset: 150;
  }
}
@keyframes shareMouseoutCircle1 {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateX(-200px) translateY(140px);
    opacity: 1;
  }
  100% {
    transform: translateX(-200px) translateY(140px);
    opacity: 0;
  }
}
@keyframes shareMouseoutCircle2 {
  0% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120px);
  }
}
@keyframes shareMouseoutCircle3 {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateX(-200px) translateY(-140px);
    opacity: 1;
  }
  100% {
    transform: translateX(-200px) translateY(-140px);
    opacity: 0;
  }
}
@keyframes shareMouseoutLine {
  30% {
    stroke-dasharray: 300, 160;
    stroke-dashoffset: 150;
  }
  100% {
    stroke-dasharray: 300, 160;
    stroke-dashoffset: 300;
  }
}
.bincan__icon,
.download__icon,
.share__icon,
.rename__icon,
.copy__icon,
.folder__icon {
  width: 50px;
  stroke: var(--color);
  transition: 0.3s;
}
.bincan__icon #folderIconPlus,
.download__icon #folderIconPlus,
.share__icon #folderIconPlus,
.rename__icon #folderIconPlus,
.copy__icon #folderIconPlus,
.folder__icon #folderIconPlus {
  display: none;
}

.bincan__icon:hover {
  stroke: #cc0000;
}

.bincan__lid {
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: bottom right;
}

.download__icon:hover,
.share__icon:hover {
  stroke: var(--color2);
}

#btnUpload {
  font-size: 18px;
}
#btnUpload .download__icon {
  padding-left: 10px;
  width: 40px;
}
#btnUpload .download__icon .download__icon__arrow {
  transform-origin: center center;
  transform: rotateZ(180deg) translateY(50px);
}
#btnUpload:hover .download__icon {
  stroke: var(--background);
}

.rename__icon__marker {
  animation-direction: normal;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.share__icon__circle1,
.share__icon__circle2,
.share__icon__circle3,
.share__icon__line1,
.share__icon__line2 {
  animation-direction: normal;
  animation-duration: 0.23s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.share__icon__circle1 {
  transform: translateX(-200px) translateY(140px);
  opacity: 0;
}

.share__icon__circle2 {
  transform: translateX(120px);
}

.share__icon__circle3 {
  transform: translateX(-200px) translateY(-140px);
  opacity: 0;
}

.share__icon__line1,
.share__icon__line2 {
  stroke-dasharray: 300, 160;
  stroke-dashoffset: 300;
}

.copy__icon__file1,
.copy__icon__file2 {
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.copy__icon__file1 {
  transform: translateX(31px) translateY(-34px);
}

.copy__icon__file2 {
  transform: translateX(-31px) translateY(34px);
}

#fileInteractionWindow {
  border: 2px solid var(--background_in_hover);
  border-radius: 0.2em;
  background: var(--background);
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 15px;
  display: none;
}
#fileInteractionWindow.active {
  display: block;
}

.FMF__header h4 {
  color: var(--color);
}
.FMF__header span {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: rotateZ(45deg);
  border-radius: 1em;
}
.FMF__header span:hover::after, .FMF__header span:hover::before {
  background: var(--background_in_hover);
}
.FMF__header span::after, .FMF__header span::before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  transition: 0.2s;
  background: var(--color);
  transform-origin: center center;
  position: absolute;
  left: 16%;
  top: 44%;
  border-radius: 0.2em;
}
.FMF__header span::before {
  transform: rotateZ(90deg);
}

.FMF__content input {
  width: 80%;
  height: 30px;
  border-radius: 0.2em;
  font-size: 20px;
  padding: 0 10px;
  color: var(--color);
  background: var(--background);
  border: 1px solid var(--color);
  font-family: Montserrat;
  font-weight: 300;
}
.FMF__content input:focus {
  border: 1px solid var(--color2);
}

.FMF__btn {
  display: flex;
  justify-content: right;
}
.FMF__btn a {
  margin-right: 10px;
}
.FMF__btn input {
  background: var(--background);
  color: var(--color);
}

.view__files,
.view__settings {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  padding: 5px 10px;
  border-bottom: 1px solid var(--background_in_hover);
  border-radius: 0.4em;
  position: relative;
}
.view__files span,
.view__settings span {
  cursor: default;
}
.view__files .file__name,
.view__settings .file__name {
  pointer-events: none;
}
.view__files:hover,
.view__settings:hover {
  background: var(--background_in_hover);
  border-radius: 0.4em;
}
.view__files .file__size,
.view__settings .file__size {
  pointer-events: none;
  position: absolute;
  right: 3%;
  font-size: 14px;
}

.folder__link {
  width: 100%;
  height: 100%;
  position: absolute;
}

.file__control {
  display: none !important;
  width: 20%;
  justify-content: space-between !important;
}

.pasteFiles {
  justify-content: space-between;
}

#sortSize,
#sortName {
  cursor: pointer;
  padding: 0 10px;
  position: relative;
}
#sortSize:hover,
#sortName:hover {
  color: var(--color2);
}
#sortSize::after, #sortSize::before,
#sortName::after,
#sortName::before {
  border: 7px solid transparent;
  border-top: 7px solid var(--color);
  content: "";
  display: block;
  height: 5px;
  width: 0px;
  position: absolute;
  right: -6px;
  top: 20%;
  transform: translateY(12px);
}
#sortSize::before,
#sortName::before {
  transform: rotateZ(180deg) translateY(12px);
}

#sortName.active__up::before,
#sortSize.active__up::before {
  border-top: 7px solid var(--color2);
}
#sortName.active__down::after,
#sortSize.active__down::after {
  border-top: 7px solid var(--color2);
}

.shareButton {
  cursor: pointer;
  position: relative;
}

.link__copied {
  font-size: 14px;
  position: absolute;
  top: -25px;
  border: 2px solid var(--background_in_hover);
  background: #1e5719aa;
  white-space: nowrap;
  color: var(--color);
  padding: 3px;
  pointer-events: none;
  border-radius: 0.2em;
  opacity: 0;
  animation-duration: 2s;
}

.share__link {
  display: none;
  background: none;
  border: 1px solid var(--background_in_hover);
  color: #ddddddaa;
  position: absolute;
  max-width: 300px;
  overflow: auto;
  transform: translateX(-300px);
  font-size: 14px;
}
.share__link:focus {
  border: 1px solid var(--color2);
}

/*# sourceMappingURL=home.css.map */
