html[data-theme="dark+blue"] {
  --background: #222222;
  --color: #ddd;
  --color2: #3694ff;
  --background_in_hover: #dddddd22;
}

html[data-theme="dark+purple"] {
  --background: #222222;
  --color: #ddd;
  --color2: #a804ca;
  --background_in_hover: #dddddd22;
}

html[data-theme="light+blue"] {
  --background: #ebebeb;
  --color: #222;
  --color2: #0077ff;
  --background_in_hover: #8888;
}

html[data-theme="light+purple"] {
  --background: #ebebeb;
  --color: #222;
  --color2: #a804ca;
  --background_in_hover: #8888;
}

.input {
  text-transform: capitalize;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  width: 400px;
}

.input input {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  border: none;
  background: #292d4800;
  color: var(--color);
  font-size: 20px !important;
  outline: none;
}

.label__input {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  width: 100%;
  border-bottom: 1px solid var(--color);
}
.label__input:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid var(--color2);
  transform: translateX(-100%);
  transition: all 0.4s ease;
}
.label__input:before {
  font-size: 14px !important;
  position: absolute;
  text-align: right;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  opacity: 0;
  color: var(--color) _Opacity;
  content: "For example:";
}

#sectionInputMail label::before {
  content: "For example: example@gmail.ru";
}

#sectionInputName label::before {
  content: "For example: Alex";
}

#sectionInputPassword label::before {
  content: "For example: Adam0_&_Eva1";
}

.input input:focus + .label__input::after,
.input input:valid + .label__input::after,
.input input.active + .label__input::after {
  transform: translateX(0%);
}

.label__input span {
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
  color: var(--color);
}

.input input:focus + .label__input span,
.input input:valid + .label__input span,
.input input.active + .label__input span {
  transform: translateY(-110%);
  font-size: 20px !important;
}

.input input:focus + .label__input::before {
  opacity: 1;
}

.form_names {
  display: flex;
}

.container__form__submit {
  display: flex;
  align-items: center;
}

.form__submit {
  font-size: 20px;
  height: 40px;
  color: var(--color);
  background: var(--background);
  border: 1px solid var(--color2);
  padding: 10px 20px 35px 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 20px;
}
.form__submit:hover {
  background: var(--color2);
}
.form__submit:disabled {
  border: 1px solid #2c2c2c;
  background: #2c2c2c;
  cursor: auto;
}

.register {
  margin-top: 50px;
}
.register a {
  margin-left: 10px;
}

#validMail,
#validName,
#validPass {
  display: none;
  cursor: default;
  font-size: 20px;
  margin: 20px 0;
  position: absolute;
  left: -25px;
  bottom: -15px;
}
#validMail span,
#validName span,
#validPass span {
  width: 20px;
  height: 20px;
  background: #cc0000;
  border-radius: 20px;
  align-items: center;
}
#validMail:hover .text__error,
#validName:hover .text__error,
#validPass:hover .text__error {
  opacity: 1;
}
#validMail .text__error,
#validName .text__error,
#validPass .text__error {
  background: none;
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
  display: flex;
  height: 25px;
  bottom: -25px;
  position: absolute;
  top: 35px;
  text-align: center;
  justify-content: center;
  left: 35%;
  white-space: nowrap;
  box-sizing: content-box;
}
#validMail .text__error::after,
#validName .text__error::after,
#validPass .text__error::after {
  content: "";
  display: block;
  background: #cc0000;
  width: 15px;
  height: 15px;
  position: absolute;
  transform: rotateZ(23deg) translateX(3px);
  top: -3px;
  left: 0;
  z-index: -1;
}
#validMail .text__error .text__error__div,
#validName .text__error .text__error__div,
#validPass .text__error .text__error__div {
  white-space: nowrap;
  display: flex;
  background: #cc0000;
  position: absolute;
  left: 0;
  border-radius: 1em;
  padding: 0 20px;
}

.section__email,
.section__password,
.section__name {
  position: relative;
}

#eye {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: 0.3s;
  fill: var(--color);
}
#eye #eye_2, #eye #eye_1 {
  transform-origin: center;
  transition: 0.3s;
}
#eye:hover {
  cursor: pointer;
  fill: var(--color2);
  filter: drop-shadow(0px 0px 20px var(--color2));
}
#eye.active {
  fill: var(--color2);
}
#eye.active #eye_2 {
  transform: scale(50%);
}
#eye.active #eye_1 {
  transform: scaleY(75%);
}
#eye span {
  content: "";
  display: block;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 1em;
}

.input input.active + #eye {
  display: flex;
}

#sectionInputCheckbox {
  width: 100%;
  position: relative;
}
#sectionInputCheckbox label {
  transition: 0.3s;
}
#sectionInputCheckbox:hover label {
  color: var(--color2);
}

.check_st {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.check_st:checked + .check_new::after {
  opacity: 1;
}
.check_st:checked + .check_new {
  border: 1px solid var(--color2);
}

.check_new {
  border: 1px solid var(--color);
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 25px;
  border-radius: 0.05em;
  transition: 0.3s;
}
.check_new::after {
  transition: 0.3s;
  opacity: 0;
  display: block;
  content: "";
  width: 5px;
  height: 20px;
  border-bottom: 3px solid var(--color2);
  border-right: 3px solid var(--color2);
  transform: rotate(35deg) translateX(6px) translateY(-5px);
}

/*# sourceMappingURL=login.css.map */
