.input {
  text-transform: capitalize;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  width: 400px;
}

.input input {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  border: none;
  background: #292d4800;
  color: #ddd;
  font-size: 20px !important;
  outline: none;
}

.label__input {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.label__input:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #a804ca;
  transform: translateX(-100%);
  transition: all 0.4s ease;
}
.label__input:before {
  font-size: 14px !important;
  position: absolute;
  text-align: right;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  opacity: 0;
  color: #ddddddaa;
  content: "For example:";
}

#sectionInputMail label::before {
  content: "For example: example@gmail.ru";
}

#sectionInputName label::before {
  content: "For example: Alex";
}

#sectionInputPassword label::before {
  content: "For example: Adam0_&_Eva1";
}

.input input:focus + .label__input::after,
.input input:valid + .label__input::after,
.input input.active + .label__input::after {
  transform: translateX(0%);
}

.label__input span {
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
  color: #ddd;
}

.input input:focus + .label__input span,
.input input:valid + .label__input span,
.input input.active + .label__input span {
  transform: translateY(-150%);
  font-size: 20px !important;
}

.input input:focus + .label__input::before {
  opacity: 1;
}

.form_names {
  display: flex;
}

.container__form__submit {
  display: flex;
  align-items: center;
}

.form__submit {
  font-size: 20px;
  height: 40px;
  color: #ddd;
  background: #222;
  border: 1px solid #a804ca;
  padding: 10px 20px 35px 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 20px;
}
.form__submit:hover {
  background: #a804ca;
}
.form__submit:disabled {
  border: 1px solid #2c2c2c;
  background: #2c2c2c;
  cursor: auto;
}

.register {
  margin-top: 50px;
}
.register a {
  margin-left: 10px;
}

#validMail,
#validName,
#validPass {
  display: none;
  cursor: default;
  font-size: 20px;
  margin: 20px 0;
  position: absolute;
  left: -25px;
  bottom: -12.5px;
}
#validMail span,
#validName span,
#validPass span {
  width: 20px;
  height: 20px;
  background: #cc0000;
  border-radius: 20px;
  margin-right: 10px;
  align-items: center;
}
#validMail:hover .text__error,
#validName:hover .text__error,
#validPass:hover .text__error {
  opacity: 1;
}
#validMail .text__error,
#validName .text__error,
#validPass .text__error {
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
  display: flex;
  position: absolute;
  min-width: 300px;
  bottom: -25px;
  position: absolute;
  top: 35px;
  text-align: center;
  justify-content: center;
}

.section__password,
.section__name {
  position: relative;
}

#eye {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: 0.3s;
}
#eye:hover {
  cursor: pointer;
  fill: #a804ca;
  filter: drop-shadow(0px 0px 20px #a804ca);
}
#eye.active {
  fill: #a804ca;
}
#eye span {
  content: "";
  display: block;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 1em;
}

.input input.active + #eye {
  display: flex;
}

#sectionInputCheckbox {
  width: 100%;
  position: relative;
}
#sectionInputCheckbox label {
  transition: 0.3s;
}
#sectionInputCheckbox:hover label {
  color: #a804ca;
}

.check_st {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.check_st:checked + .check_new::after {
  opacity: 1;
}
.check_st:checked + .check_new {
  border: 1px solid #a804ca;
}

.check_new {
  border: 1px solid #ddd;
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 25px;
  border-radius: 0.05em;
  transition: 0.3s;
}
.check_new::after {
  transition: 0.3s;
  opacity: 0;
  display: block;
  content: "";
  width: 5px;
  height: 20px;
  border-bottom: 3px solid #a804ca;
  border-right: 3px solid #a804ca;
  transform: rotate(35deg) translateX(6px) translateY(-5px);
}

/*# sourceMappingURL=login.css.map */
