html[data-theme="dark+blue"] {
  --background: #222222;
  --color: #ddd;
  --color2: #3694ff;
  --background_in_hover: #dddddd22;
}

html[data-theme="dark+purple"] {
  --background: #222222;
  --color: #ddd;
  --color2: #a804ca;
  --background_in_hover: #dddddd22;
}

html[data-theme="light+blue"] {
  --background: #ebebeb;
  --color: #222;
  --color2: #0077ff;
  --background_in_hover: #8888;
}

html[data-theme="light+purple"] {
  --background: #ebebeb;
  --color: #222;
  --color2: #a804ca;
  --background_in_hover: #8888;
}

html {
  background: var(--background);
  color: var(--color);
}
html a {
  color: var(--color);
}
html a:hover {
  color: var(--color2);
}

body {
  font-family: sans-serif;
  font-family: Montserrat;
  font-size: 34px;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

li {
  list-style-type: disc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.block {
  display: flex;
  justify-content: center;
}

.input__delete {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.view__files,
.view__settings {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  padding: 5px 10px;
  border-bottom: 1px solid var(--background_in_hover);
  border-radius: 0.4em;
  position: relative;
}
.view__files span,
.view__settings span {
  cursor: default;
}
.view__files:hover,
.view__settings:hover {
  background: var(--background_in_hover);
  border-radius: 0.4em;
}
.view__files .file__size,
.view__settings .file__size {
  position: absolute;
  right: 25%;
}

.file__control {
  width: 20%;
  justify-content: space-between !important;
}

.bincan__icon,
.download__icon,
.share__icon {
  width: 50px;
  stroke: var(--color);
  transition: 0.3s;
}

.bincan__icon:hover {
  stroke: #cc0000;
}

.bincan__lid {
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: bottom right;
}

.download__icon:hover,
.share__icon:hover {
  stroke: var(--color2);
}

@keyframes bincanLid {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  100% {
    transform: rotate(5deg) translateY(-20px);
  }
}
@keyframes bincanLidClose {
  0% {
    transform: rotate(5deg) translateY(-20px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
@keyframes linkCopied {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.shareButton {
  cursor: pointer;
  position: relative;
}

.link__copied {
  font-size: 14px;
  position: absolute;
  top: -25px;
  border: 2px solid var(--background_in_hover);
  background: #1e5719aa;
  white-space: nowrap;
  color: var(--color);
  padding: 3px;
  pointer-events: none;
  border-radius: 0.2em;
  opacity: 0;
  animation-duration: 2s;
}

.share__link {
  display: none;
  background: none;
  border: 1px solid var(--background_in_hover);
  color: #ddddddaa;
  position: absolute;
  max-width: 300px;
  overflow: auto;
  transform: translateX(-300px);
  font-size: 14px;
}
.share__link:focus {
  border: 1px solid var(--color2);
}

header {
  border-bottom: 2px solid var(--color2);
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 20px;
  margin-bottom: 40px;
  font-size: 34px;
}
header .btn__header {
  margin-right: 15px;
  transition: 0.3s;
}

.header__left {
  display: flex;
}

.header__right {
  max-height: 40px;
  position: relative;
  min-width: 170px;
}
.header__right ul {
  display: flex;
}
.header__right ul li {
  list-style-type: none;
}

.dropDown__btn {
  width: 100%;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.dropDown__btn::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: -5px;
  top: 50%;
  border: 6px solid transparent;
  border-top: 6px solid var(--color);
  transition: 0.3s;
  transform: rotateX(0deg);
  transform-origin: center 3px;
  margin-right: -10px;
}
.dropDown__btn:hover + .dropDown__menu {
  transform: translateY(100%) rotateX(0deg);
}

.dropDown__menu {
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  transform-origin: top center;
  transition: 0.2s;
  transform: translateY(100%) rotateX(90deg);
  flex-direction: column;
  background: var(--background);
  width: 100%;
  border-top: 1px solid var(--color2);
}
.dropDown__menu:hover {
  transform: translateY(100%) rotateX(0deg);
}
.dropDown__menu li {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  transition: 0.3s;
}
.dropDown__menu li a, .dropDown__menu li form {
  height: 100%;
}
.dropDown__menu li:hover {
  background: var(--background_in_hover);
}

#logout {
  color: #cc0000;
  width: 100%;
  height: 100%;
  padding: 0;
  background: var(--background);
  border: 0;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
}
#logout:hover {
  background: #cc0000;
  color: var(--color);
}

html[data-theme="dark+blue"] {
  --background: #222222;
  --color: #ddd;
  --color2: #3694ff;
  --background_in_hover: #dddddd22;
}

html[data-theme="dark+purple"] {
  --background: #222222;
  --color: #ddd;
  --color2: #a804ca;
  --background_in_hover: #dddddd22;
}

html[data-theme="light+blue"] {
  --background: #ebebeb;
  --color: #222;
  --color2: #0077ff;
  --background_in_hover: #8888;
}

html[data-theme="light+purple"] {
  --background: #ebebeb;
  --color: #222;
  --color2: #a804ca;
  --background_in_hover: #8888;
}

#dropzone {
  width: 100%;
  height: 100vh;
  position: absolute;
  pointer-events: none;
}
#dropzone .drop {
  display: none;
  pointer-events: none;
}

#dropzone.hover {
  pointer-events: all;
  z-index: 999;
}
#dropzone.hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2424245e;
}
#dropzone.hover .drop {
  width: 100%;
  height: 100vh;
  display: flex;
  pointer-events: none;
}
#dropzone.hover .drop::before {
  content: "";
  border: 10px dashed #fff;
  width: 95%;
  height: 93%;
  text-align: center;
}
#dropzone.hover .drop::after {
  font-size: 55px;
  content: "Upload file";
  position: absolute;
}

#formDrag {
  opacity: 0;
  position: absolute;
  z-index: -10;
  pointer-events: none;
}

.df {
  display: flex;
}

.df_j {
  display: flex;
  justify-content: center;
}

.df_a {
  display: flex;
  align-items: center;
}

.df_ja {
  display: flex;
  align-items: center;
  justify-content: center;
}

.df_coll {
  flex-direction: column;
}

.just_bet {
  justify-content: space-between;
}

.mt_10 {
  margin-top: 10px;
}

.mt_20 {
  margin-top: 20px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_40 {
  margin-top: 40px;
}

.mt_50 {
  margin-top: 50px;
}

.mb_50 {
  margin-bottom: 50px;
}

.mb_80 {
  margin-bottom: 80px;
}

.mb_90 {
  margin-bottom: 90px;
}

.mb_130 {
  margin-bottom: 130px;
}

h1 {
  font-size: 34px;
  font-weight: 600;
}

h2 {
  font-size: 32.380952381px;
  font-weight: 600;
}

h3 {
  font-size: 29.5652173913px;
  font-weight: 600;
}

h4 {
  font-size: 26.1538461538px;
  font-weight: 500;
}

h5 {
  font-size: 23.4482758621px;
  font-weight: 500;
}

p,
li {
  font-size: 20.6060606061px;
  font-weight: 300;
}

.btn:text {
  opacity: 0;
}

.btn {
  width: 30px;
  height: 30px;
  border: 1px solid #cc0000;
  cursor: pointer;
  transition: 0.3s;
}
.btn span {
  display: block;
  width: 2px;
  height: 20px;
  background: #cc0000;
  transform: rotate(45deg);
  transition: 0.3s;
  position: absolute;
}
.btn span::after {
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  background: #cc0000;
  transform: rotate(-90deg);
  transition: 0.3s;
}
.btn:hover {
  background: #cc0000;
}
.btn:hover span {
  background: var(--color);
}
.btn:hover span::after {
  background: var(--color);
}

/*# sourceMappingURL=main.css.map */
