.theme__dark {
  background: #222;
  color: #ddd;
  fill: #ddd;
  stroke: #ddd;
  transition: 0.3s;
}
.theme__dark a {
  color: #ddd;
}

.theme__light {
  background: #f4f4f4 !important;
  color: #222 !important;
  fill: #222 !important;
  stroke: #222 !important;
  transition: 0.3s;
}
.theme__light a {
  color: #222;
}

a {
  transition: 0.3s;
}
a:hover {
  color: #a804ca;
}

.err {
  font-size: 20px;
  margin: 20px 0;
}
.err span {
  width: 20px;
  height: 20px;
  background: #cc0000;
  border-radius: 20px;
  margin-right: 10px;
  align-items: center;
}

body {
  font-family: sans-serif;
  font-size: 34px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

li {
  list-style-type: disc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.block {
  display: flex;
  justify-content: center;
}

.users__db {
  margin-top: 30px;
  border-top: 2px solid #a804ca;
}

header {
  border-bottom: 2px solid #a804ca;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 20px;
  margin-bottom: 40px;
  font-size: 34px;
}
header .btn__header {
  margin-right: 15px;
  transition: 0.3s;
}

.header__right {
  display: flex;
}
.header__right ul {
  display: flex;
}
.header__right ul li {
  list-style-type: none;
}

.li_user__name {
  position: relative;
  display: inline-block;
  max-height: 50px;
}

.user__name__menu {
  display: inline-block !important;
  position: relative !important;
  text-align: center;
  min-width: 140px;
  max-width: 160px;
}
.user__name__menu li {
  height: 40px;
  position: relative;
  display: none;
  margin: 5px 0;
  font-size: 20px;
  border: 2px solid #a804ca;
}
.user__name__menu li a {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.user__name__menu:hover li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#exitUserName {
  color: #cc0000;
  width: 100%;
  height: 100%;
  padding: 0;
  background: #00000000;
  border: 0;
  font-size: 30px;
  cursor: pointer;
}
#exitUserName:hover {
  background: #cc0000;
  color: #fff;
}

.icon__basket {
  width: 44px;
  transform: translateY(-2.5px);
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.icon__basket:hover {
  fill: #a804ca;
  stroke: #a804ca;
}

.check__box {
  background: #f4f4f4;
  width: 40px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a804ca;
  margin-right: 20px;
}
.check__box span {
  display: block;
  background: #a804ca;
  border-radius: 50px;
  width: 14px;
  height: 14px;
  position: relative;
  transition: 0.3s;
  left: -8px;
}

.check__box.active {
  background: #222;
}
.check__box.active span {
  left: 8px !important;
}

.input {
  text-transform: capitalize;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  width: 400px;
}

.input input {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  border: none;
  background: #292d4800;
  color: #ddd;
  font-size: 20px !important;
  outline: none;
}

.label__input {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.label__input:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #a804ca;
  transform: translateX(-100%);
  transition: all 0.4s ease;
}
.label__input:before {
  font-size: 14px !important;
  position: absolute;
  text-align: right;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  opacity: 0;
  color: #ddddddaa;
  content: "For example:";
}

#sectionInputName label::before {
  content: "For example: Alex";
}

#sectionInputPassword label::before {
  content: "For example: Adam0_&_Eva1";
}

.input input:focus + .label__input::after,
.input input:valid + .label__input::after,
.input input.active + .label__input::after {
  transform: translateX(0%);
}

.label__input span {
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
  color: #ddd;
}

.input input:focus + .label__input span,
.input input:valid + .label__input span,
.input input.active + .label__input span {
  transform: translateY(-150%);
  font-size: 20px !important;
}

.input input:focus + .label__input::before {
  opacity: 1;
}

.form_names {
  display: flex;
}

.container__form__submit {
  display: flex;
  align-items: center;
}

.form__submit {
  font-size: 20px;
  height: 40px;
  color: #ddd;
  background: #222;
  border: 1px solid #a804ca;
  padding: 10px 20px 35px 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 20px;
}
.form__submit:hover {
  background: #a804ca;
}
.form__submit:disabled {
  border: 1px solid #2c2c2c;
  background: #2c2c2c;
  cursor: auto;
}

.register {
  margin-top: 50px;
}
.register a {
  margin-left: 10px;
}

#validName {
  display: none;
}

.df {
  display: flex;
}

.df_j {
  display: flex;
  justify-content: center;
}

.df_a {
  display: flex;
  align-items: center;
}

.df_ja {
  display: flex;
  align-items: center;
  justify-content: center;
}

.df_coll {
  flex-direction: column;
}

.mt_10 {
  margin-top: 10px;
}

.mt_20 {
  margin-top: 20px;
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 45.3333333333px;
}

h3 {
  font-size: 42.5px;
}

h4 {
  font-size: 40.8px;
}

h5 {
  font-size: 39.6666666667px;
}

/*# sourceMappingURL=main.css.map */
