html[data-theme="dark+blue"] {
  --background: #222222;
  --color: #ddd;
  --color2: #3694ff;
  --background_in_hover: #dddddd22;
}

html[data-theme="dark+purple"] {
  --background: #222222;
  --color: #ddd;
  --color2: #a804ca;
  --background_in_hover: #dddddd22;
}

html[data-theme="light+blue"] {
  --background: #f9f9f9;
  --color: #222;
  --color2: #0077ff;
  --background_in_hover: #8888;
}

html[data-theme="light+purple"] {
  --background: #f9f9f9;
  --color: #222;
  --color2: #a804ca;
  --background_in_hover: #8888;
}

#checkBoxThemeZoneClicked {
  user-select: none;
}

.settings__list a,
.settings__list span,
.settings__list .checkbox__theme {
  cursor: pointer !important;
}

.check__box {
  background: var(--background);
  width: 40px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color2);
  margin: 0 20px;
}
.check__box span {
  display: block;
  background: var(--color2);
  border-radius: 50px;
  width: 14px;
  height: 14px;
  position: relative;
  transition: 0.3s;
  left: -8px;
}

.check__box.active {
  background: var(--background);
}
.check__box.active span {
  left: 8px !important;
}

.shade__color__block {
  margin-right: 50px;
  width: 70px;
  justify-content: space-between;
}
.shade__color__block a {
  padding: 5px 10px;
}
.shade__color__block a .shade__color {
  width: 20px;
  height: 20px;
  border: 1px solid var(--background_in_hover);
  border-radius: 1em;
  position: relative;
}
.shade__color__block a .shade__color.active {
  padding: 5px;
  border: 2px solid var(--color);
}
.shade__color__block a .shade__color.active::after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  border: 7px solid transparent;
  border-top: 7px solid var(--color);
}

#shade1 {
  background: #a804ca;
}

#shade2 {
  background: #3694ff;
}

#settingPass,
#settingName {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#settingPass #triangle,
#settingName #triangle {
  border: 7px solid transparent;
  border-top: 7px solid var(--color);
  position: relative;
  bottom: -5px;
  transition: 0.3s;
  transform-origin: center 3px;
  transform: rotateX(0deg);
}
#settingPass form,
#settingName form {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}
#settingPass.active #triangle,
#settingName.active #triangle {
  transform: rotateX(180deg);
}

#passForm,
#nameForm {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
  opacity: 0;
}
#passForm.active,
#nameForm.active {
  pointer-events: all;
  height: 500px;
  opacity: 1;
}

#nameForm.active {
  height: 250px;
}

#eye {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: 0.3s;
  stroke: var(--color);
  fill: var(--color);
  cursor: pointer;
}
#eye.active .eyeEl2 {
  transform: rotateX(180deg);
}
#eye.active .eyeEl1 {
  opacity: 1;
}
#eye:hover {
  stroke: var(--color2);
  fill: var(--color2);
  filter: drop-shadow(0px 0px 10px var(--color2));
}

.eyeEl1 {
  opacity: 0;
  transition: 0.3s;
}

.eyeEl2 {
  transform-origin: center 244px;
  transition: 0.5s;
}

#formPassword,
#formUsername {
  width: 100%;
  max-width: 600px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.input {
  text-transform: capitalize;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  width: 100%;
}

.input input {
  width: 90%;
  height: 100%;
  padding-top: 30px;
  border: none;
  background: #292d4800;
  color: var(--color);
  font-size: 20px !important;
  outline: none;
}

.label__input {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  width: 100%;
  border-bottom: 1px solid var(--color);
}
.label__input:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid var(--color2);
  transform: translateX(-100%);
  transition: all 0.4s ease;
}
.label__input:before {
  font-size: 14px !important;
  position: absolute;
  text-align: right;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  opacity: 0;
  color: var(--color);
  content: "";
}
.label__input span {
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
  color: var(--color);
  font-weight: 200;
  font-size: 28px;
  font-style: italic;
  text-transform: lowercase;
}

.input input:focus + .label__input::after,
.input input:valid + .label__input::after,
.input input.active + .label__input::after {
  transform: translateX(0%);
}

.input input:focus + .label__input span,
.input input:valid + .label__input span,
.input input.active + .label__input span {
  transform: translateY(-110%);
  font-size: 20px !important;
}

.input input:focus + .label__input::before {
  opacity: 1;
}

.form__submit {
  font-size: 20px;
  color: var(--color);
  background: var(--background);
  border: 1px solid var(--color2);
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 60px;
}
.form__submit:hover {
  background: var(--color2);
}
.form__submit:disabled {
  border: 1px solid #2c2c2c;
  background: #2c2c2c;
  cursor: auto;
}

.section__password,
.section__name,
.section__email {
  position: relative;
}

.validsPass,
#validName,
#validEmail {
  display: none;
  cursor: default;
  font-size: 20px;
  margin: 20px 0;
  position: absolute;
  left: -25px;
  bottom: -15px;
}
.validsPass span,
#validName span,
#validEmail span {
  width: 20px;
  height: 20px;
  background: #cc0000;
  border-radius: 20px;
  align-items: center;
}
.validsPass:hover .text__error,
#validName:hover .text__error,
#validEmail:hover .text__error {
  opacity: 1;
}
.validsPass .text__error,
#validName .text__error,
#validEmail .text__error {
  background: none;
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
  display: flex;
  height: 25px;
  bottom: -25px;
  position: absolute;
  top: 35px;
  text-align: center;
  justify-content: center;
  left: 35%;
  white-space: nowrap;
  box-sizing: content-box;
}
.validsPass .text__error::after,
#validName .text__error::after,
#validEmail .text__error::after {
  content: "";
  display: block;
  background: #cc0000;
  width: 15px;
  height: 15px;
  position: absolute;
  transform: rotateZ(23deg) translateX(3px);
  top: -3px;
  left: 0;
  z-index: -1;
}
.validsPass .text__error .text__error__div,
#validName .text__error .text__error__div,
#validEmail .text__error .text__error__div {
  white-space: nowrap;
  display: flex;
  background: #cc0000;
  position: absolute;
  left: 0;
  border-radius: 1em;
  padding: 0 20px;
}

.err__pass,
.success__pass {
  margin-left: 20px;
  border-radius: 0.5em;
  font-size: 18px;
  padding: 5px 10px;
  font-weight: 400;
}

.success__pass {
  background: #1e5719aa;
}

.err__pass {
  background: #cc0000;
}

.text__delAcc {
  color: #cc0000;
  cursor: default;
  font-weight: 500;
}

#delAcc:hover {
  color: #cc0000;
}

#btnDelAcc {
  margin-right: 50px;
  color: #cc0000;
  border: none;
  font-family: Montserrat;
  font-size: 24px;
}
#btnDelAcc:hover {
  background: #cc0000;
  color: var(--color);
}

.btnDel {
  background: var(--background_in_hover);
  border-radius: 0.2em;
  padding: 5px 10px;
  font-size: 24px;
  transition: 0.2s;
  cursor: pointer;
}
.btnDel:hover {
  background: #1e5719aa;
  color: var(--color);
}

.delete__menu__inner {
  padding: 15px;
  border-radius: 0.2em;
  border: 2px solid #cc0000;
  background: var(--background);
}

.delete__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.delete__menu.active {
  opacity: 1;
  pointer-events: all;
}

/*# sourceMappingURL=settings.css.map */
