#contextmenu
  border: 1px solid var(--color2)
  border-radius: 0.2em

  max-width: 222px
  width: 100%
  position: absolute
  transition: 0.1s
  // padding: 5px 0 0 0
  background: var(--background)

  opacity: 0
  pointer-events: none
  box-shadow: 0px 5px 20px var(--color2)

  .menu__icons
    margin-right: 10px
    svg
      width: 35px
      &:hover
        stroke: var(--color)

  #folderIconPlus
    display: block


  ul
    li
      // margin: 5px 0
      height: 40px
      list-style-type: none
      width: 100%
      padding: 5px 10px
      text-align: left
      cursor: pointer
      &:hover
        background: var(--background_in_hover)

    &.outside
      #contextmenuRenameFile,
      #contextmenuDownloadFile,
      #contextmenuShareFile,
      #contextmenuCopyFile,
      #contextmenuDeleteFile
        display: none
      #contextmenuChooseFile
        border: none

#contextmenuDeleteFile
  border-top: 1px solid var(--color2)
  color: $red
  svg
    stroke: $red !important

#contextmenuUploadFile
  border-bottom: 1px solid var(--color2)
  .download__icon
    .download__icon__arrow
      transform-origin: center center
      transform: rotateZ(180deg) translateY(50px)
  &:hover
    .download__icon
      stroke: var(--color)


// success copy
#statusCopy
  border-radius: 1em
  // opacity: 0
  pointer-events: none
  width: 30px
  height: 30px
  position: relative
  &.success
    background: $green_Opacity
    &::before
      content: ''
      display: block
      width: 8px
      height: 16px
      border-right: 2px solid var(--color)
      border-bottom: 2px solid var(--color)
      transform: rotateZ(45deg) translateY(0)
  &.err
    background: $red
    &::before,
    &::after
      content: ''
      display: block
      width: 16px
      height: 2px
      background: var(--color)
      position: absolute
      top: 50%
      left: 50%
    &::after
      transform: translateX(-50%) translateY(-50%) rotateZ(45deg)
    &::before
      transform: translateX(-50%) translateY(-50%) rotateZ(-45deg)
